body {


    min-height: 100vh;
}

#contenedor-maestro {
    background: $c-claro url('/static/img/textura-fondo.jpg') no-repeat center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

.pantalla {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    overflow: auto;

    &.activo {
        pointer-events: initial;
        opacity: 1;
    }

    main {
        min-height: 100vh;
        top: 0;
        display: flex;
        align-items: center;
        transition: transform 1.25s ease 1.5s, opacity 1s ease 1.75s;
    }

    .graf {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
        overflow: hidden;


        div {
            position: absolute;
            transition: all .5s ease 1s;

        }

    }

    &.saliendo,
    &.entrando {
        main {
            transform: translateY(25vh);
            opacity: 0;
        }
    }
}

//Botones LG
.radio-lg {

    label {
        padding: .125rem !important;
        width: 10rem;
        height: 10rem;
        text-align: center;
        display: inline-block;
        border-radius: 100%;
        font-size: 4rem;
        line-height: 10rem;
        margin-right: 1em !important;
        box-shadow: 0 0 0 0 $c-1;
        transition: all .5s ease;

        &.ultimo {
            margin-right: 0 !important;
        }

        &:after {
            display: none;
        }
    }

    input:checked+label {
        box-shadow: 0 0 0 1.25rem $c-1;
        background: $c-1;
        color: rgb(0, 0, 0);
        /*mix-blend-mode: normal !important;
        background-color: $c-3 !important;*/
    }

    &.amarillo label {
        background: $c-2;
        box-shadow: 0 0 0 0 $c-2;
        color: white;
    }
}

//Seleccion multiple
.opcion1 span::before {
    content: "A";
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    font-weight: 900;
}

.opcion2 span::before {
    content: "B";
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    font-weight: 900;
}

.opcion3 span::before {
    content: "C";
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    font-weight: 900;
}

.opcion4 span::before {
    content: "D";
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    font-weight: 900;
}
//Radio porque
.porque {
    display: none;
    &.requerido {
        display: block;
    }
}
/*
====================
Pantalla INTRO
====================
*/
#p_in_1 {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    main  {
        min-height: initial;
        flex-grow: 2;
    }

    h1 {
        span {
            display: none
        }
    }

    footer {
        background: white;
        padding: 20px 0;
        
        width: 100%;
        transition: transform .75s ease-out 1s;

        .col:first-child {
            text-align: left;
        }

        .col:last-child {
            text-align: right;
        }
    }

    .el-happy {
        max-width: 50vw;
        top: -10%;
        left: 5%;

    }

    .el-circ {
        max-width: 35vw;
        bottom: 0;
        left: 0;
        transform: translate(-30%, 30%);
        transition: all 1s ease .5s;
    }

    .el-circBorde {
        max-width: 25vw;
        bottom: 0;
        right: 0;
        transform: translate(50%, 30%);
    }

    &.saliendo {
        .el-circ {
            animation: slide-out-fwd-center 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }

        footer {
            transform: translateY(100%);
        }

        @keyframes slide-out-fwd-center {
            0% {
                transform: translateZ(1);
                opacity: 1;
            }

            100% {
                transform: translateZ(600px);
                opacity: 0;
                transform: scale(10);
            }
        }

        .el-happy {
            animation: puff-out-center 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
        }

        @keyframes puff-out-center {
            0% {
                transform: scale(1);
                filter: blur(0px);
                opacity: 1;
            }

            100% {
                transform: scale(2);
                filter: blur(4px);
                opacity: 0;
            }
        }

        .el-circBorde {
            animation: puff-out-center 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
        }


    }
}

#p_in_2 {
    main {
        transition: opacity .3s ease .25s, transform 2s ease;
    }

    .cont {
        max-width: 890px;
    }

    #gen_otro~input {
        display: none;
        margin: .25rem auto 0;
        max-width: 400px;
    }

    #gen_otro:checked~input {
        display: block;
    }

    .graf {
        background: $c-claro url('/static/img/textura-fondo.jpg') no-repeat center;
        background-size: cover;
    }

    .el-happy {
        max-width: 70vw;
        width: 90%;
        top: -25%;
        left: -10%;
        z-index: 2;

        img {
            /*anim*/
            transition: transform 1s ease 1s;
        }

    }

    .el-circ {

        width: 100vw;
        height: 100vw;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 60%);
        background: $c-2multiply;
        border-radius: 100%;
        mix-blend-mode: multiply;
        /*anim*/
        transition: transform 1.5s ease;

        img {
            display: none;
        }
    }

    .el-circBorde {
        max-width: 25vw;
        bottom: 0;
        right: 0;
        transform: translate(50%, 30%);

        img {
            /*anim*/
            transition: transform 1s ease 1s;
        }
    }

    &.entrando,
    &.saliendo {
        .el-circ {
            transform: translate(-50%, 260%);
        }

        .el-circBorde img {
            transform: translate(200%, 200%)
        }

        .el-happy img {
            transform: translate(-200%, -200%)
        }
    }
}

#p_in_3 {
    main {
        color: white;
    }
    h2 {
        opacity: 1;
        transition: opacity .5s ease
    }

    .graf {
        background: $c-2multiply;
        mix-blend-mode: multiply;
        transition: opacity .5s ease;

        .el-happy {
            width: 45vw;
            animation: rotar 5s linear infinite;
            transform-origin: 100% -150%;
            z-index: 2;
            /*anim*/
            opacity: 1;
        }

        .el-circ {
            animation: rotar 15s linear infinite;
            width: 65vw;
            max-width: 1000px;
            height: 65vw;
            max-height: 1000px;
            right: 45%;
            bottom: 5%;
            /*anim*/
            transition: right 1s ease 1s;

        }

        .el-circBorde {
            animation: rotar 12s linear infinite;
            width: 40vw;
            max-width: 700px;
            height: 40vw;
            max-height: 700px;
            left: 55%;
            bottom: 25%;
            opacity: 1;
            /*anim*/
            transition: transform 1s ease 1s, opacity .75s ease .75s;
        }
    }

    &.entrando,
    &.saliendo {
        .graf {
            opacity: 0;
        }

        .el-happy {
            opacity: 0
        }

        .el-circ {
            right: 200%;
        }

        .el-circBorde {
            /*anim*/
            transform: translateX(20%);
            /*anim*/
            opacity: 0;
        }
        h2 {
            opacity: 0;
        }

    }
}

#p_in_4 {
    .form-grupo {
        margin: 20vh 0 5vh;
    }

    #pcreativa_no~input {
        margin: 1.5rem auto 0;
        max-width: 480px;
    }

    .el-happy {
        max-width: 70vw;
        width: 70%;
        top: 55%;
        left: 25%;
        z-index: 2;
        transition: all 1s cubic-bezier(0.755, 0.050, 0.855, 0.060);
    }

    .el-circ {
        max-width: 100vw;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 60%);
        transition: all 1s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);

    }

    .el-circBorde {
        max-width: 50vw;
        width: 50%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -30%);
        //transition: all 3s;
        //animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s both;
        transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s;
    }

    &.saliendo,
    &.entrando {

        .el-circBorde {
            transform: scale(2);
            filter: blur(4px);
            opacity: 0;
        }

        .el-circ {
            transform: scale(2);
            filter: blur(4px);
            opacity: 0;
        }

        .el-happy {
            transform: translateY(1000px) scaleY(0) scaleX(0.2);
            transform-origin: 50% 0%;
            filter: blur(40px);
            opacity: 0;
        }

    }


}

#p_in_5 {
    .form-grupo {
        margin: 10vh 0 5vh;
    }

    #pcreativa_no~input {
        display: none;
        margin: 1.5rem auto 0;
        max-width: 480px;
    }

    #pcreativa_no:checked~input {
        display: block;
    }

    .el-happy {
        max-width: 90vw;
        width: 100%;
        top: 23%;
        left: 0%;
        z-index: 2;
        transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    }

    .el-circ {
        max-width: 60vw;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 60%);
        transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);

    }

    .el-circBorde {
        max-width: 50vw;
        width: 50%;
        top: -10%;
        left: 0;
        transform: translate(-50%, -30%);
        transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    }

    textarea {
        border: 0px;
        border-radius: 10px;
        width: 70%;
        max-width: 70vw;
        padding: 17px;


    }

    :focus {
        outline: 1px solid rgb(255, 255, 255);
    }

    .btn-amarillo {

        float: right;
        margin-right: 6vw;
    }

    &.saliendo,
    &.entrando {

        .el-happy {
            transform: translateY(1000px);
            transform-origin: 50% 0%;
            filter: blur(40px);
            opacity: 0;
        }

        .el-circBorde {
            transform: translateY(-1000px) translateX(-1000px);
            opacity: 0;
        }

        .el-circ {
            transform: translateZ(-600px);
            opacity: 0;
            transform: scale(2);
        }
    }


}
#p_in_6 {
    main {
        color: white;
    }
    h2 {
        opacity: 1;
        transition: opacity .5s ease
    }

    .graf {
        background: $c-2multiply;
        mix-blend-mode: multiply;
        transition: opacity .5s ease;

        .el-happy {
            width: 45vw;
            animation: rotar 5s linear infinite;
            transform-origin: 100% -150%;
            z-index: 2;
            /*anim*/
            opacity: 1;
        }

        .el-circ {
            animation: rotar 15s linear infinite;
            width: 65vw;
            max-width: 1000px;
            height: 65vw;
            max-height: 1000px;
            right: 45%;
            bottom: 5%;
            /*anim*/
            transition: right 1s ease 1s;

        }

        .el-circBorde {
            animation: rotar 12s linear infinite;
            width: 40vw;
            max-width: 700px;
            height: 40vw;
            max-height: 700px;
            left: 55%;
            bottom: 25%;
            opacity: 1;
            /*anim*/
            transition: transform 1s ease 1s, opacity .75s ease .75s;
        }
    }

    &.entrando,
    &.saliendo {
        .graf {
            opacity: 0;
        }

        .el-happy {
            opacity: 0
        }

        .el-circ {
            right: 200%;
        }

        .el-circBorde {
            /*anim*/
            transform: translateX(20%);
            /*anim*/
            opacity: 0;
        }
        h2 {
            opacity: 0;
        }

    }
}
#p_in_7 {
    .cont {
        max-width: 1030px;
    }
    .form-grupo {
        margin: 10vh 0 5vh;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        /*width: 60vw;*/
        margin: auto;
    }

    #pcreativa_no~input {
        display: none;
        margin: 1.5rem auto 0;
        max-width: 480px;
    }

    #pcreativa_no:checked~input {
        display: block;
    }

    .el-happy {
        max-width: 90vw;
        width: 100%;
        top: 23%;
        left: -20%;
        z-index: -1;
        transition: all 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    .el-circ {
        max-width: 55vw;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translate(60%, 5%);
        transition: all 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    .el-circBorde {
        max-width: 50vw;
        width: 50%;
        top: 0%;
        left: 0;
        transform: translate(-50%, -30%);
        transition: all 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    .radio-lg label {
        width: 48%;
        min-height: 88px;
        height: auto;
        text-align: left;
        display: inline-block;
        border-radius: 50px;
        box-shadow: 0 0 0 0 #f2ce2f;
        transition: all 0.5s ease;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 20px 30px 20px 90px !important;
        align-items: center;
        display: flex;
        margin: 0 0 30px !important;
        background-color: $c-2;
        box-sizing:border-box;
    }

    input:checked + label {
        background-color: $c-1;
    }

    &.saliendo,
    &.entrando {
        .el-circBorde {
            transform: translate(-150%, -130%);
            opacity: 1;

        }

        .el-happy {
            transform: translateY(1000px);
            opacity: 0;
        }

        .el-circ {
            transform: scale(1);
            opacity: 1;
            transform: translate(150%, 30%);
        }

    }


}

#p_in_am1 {
    .form-grupo {
        margin: 15vh 0 5vh;
    }

    #apasiona_no~input {
        margin: 1.5rem auto 0;
        max-width: 480px;
    }
  
    .el-happy {
        max-width: 70vw;
        width: 70%;
        top: 55%;
        left: 25%;
        z-index: 2;
        transition: all 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);

    }

    .el-circ {
        max-width: 100vw;
        width: 100%;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 60%);
        transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);

    }

    .el-circBorde {
        max-width: 70vw;
        width: 70%;
        top: -80vh;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    }

    .radio-lg.verde label {

        background-image: url("/static/img/graf/circle.png");
        background-size: contain;
    }

    

    &.saliendo,
    &.entrando {
        .el-happy {
            transform: translateY(1000px);
            opacity: 0;
        }

        .el-circ {
            transform: scale(2);
            filter: blur(4px);
            opacity: 0;
        }

        .el-circBorde {
            transform: translateZ(600px);
            opacity: 0;
        }
    }

}

#p_in_am2 {
    .form-grupo {

        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10vh auto 3%;
    }

    #pcreativa_no~input {
        display: none;
        margin: 1.5rem auto 0;
        max-width: 480px;
    }

    #pcreativa_no:checked~input {
        display: block;
    }

    .el-happy {
        max-width: 50vw;
        width: 100%;
        top: -50%;
        right: -35%;
        z-index: -1;
        transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    }

    .el-circ {
        max-width: 100vw;
        width: 100%;
        bottom: -55%;
        left: 0;
        right: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }

    .el-circBorde {
        max-width: 50vw;
        width: 50%;
        top: 0%;
        left: 0;
        transform: translate(-50%, -50%);
        transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    }

    .txt {
        font-size: 2rem;
    }

    a.pieza {
        cursor: pointer;
        text-align: left;
        margin: 1px;
        font-size: 1rem;
        max-width: 13%;
    }

    &.saliendo,
    &.entrando {
        .el-circ {
            transform: scale(2);
            filter: blur(4px);
            opacity: 0;
        }

        .el-circBorde {
            transform: translateZ(-1100px);
            opacity: 0;
        }

        .el-happy {
            transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
            opacity: 0;
        }

    }

}

#p_in_az2 {
    .form-grupo {

        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10vh auto 3%;
    }

    #pcreativa_no~input {
        
        margin: 1.5rem auto 0;
        max-width: 480px;
    }
    
    .el-happy {
        max-width: 50vw;
        width: 100%;
        top: -50%;
        right: -35%;
        z-index: -1;
        transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    }

    .el-circ {
        max-width: 100vw;
        width: 100%;
        bottom: -55%;
        left: 0;
        right: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }

    .el-circBorde {
        max-width: 50vw;
        width: 50%;
        top: 0%;
        left: 0;
        transform: translate(-50%, -50%);
        transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    }

    .txt {
        font-size: 2rem;
    }

    a.pieza {
        cursor: pointer;
        text-align: left;
        margin: 1px;
        font-size: 1rem;
        max-width: 13%;
    }

    &.saliendo,
    &.entrando {
        .el-circ {
            transform: scale(2);
            filter: blur(4px);
            opacity: 0;
        }

        .el-circBorde {
            transform: translateZ(-1100px);
            opacity: 0;
        }

        .el-happy {
            transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
            opacity: 0;
        }

    }

}

.modal-temor {
    background-color: #8a8484cc;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;

    .modal {
        position: fixed;
        width: 80%;
        height: 80vh;
        z-index: 99999;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        max-width: 1442px;


        .fila {

            width: 100%;

            .izq {
                width: 40%;
                flex: initial;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .der {
                width: 60%;
                background-color: #fff;
                margin-left: 10px;
                padding: 0px 46px;

                .cerrar {
                    background-image: url("/static/img/graf/circle.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 60px;
                    width: 60px;
                    position: absolute;
                    right: -20px;
                    top: -20px;

                    svg {
                        height: 100%;
                        width: 100%;
                    }

                }



                
            }



        }




    }
}




.mostrar {
    display: initial !important;
}






/*
====================
Pantalla FINALES
====================
*/
#p_f_1 {

    h2 {
        //font-size: 1.5rem;
        //max-width: 690px;
        margin: 0 auto 2em;
    }

    #temores-finales {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .checkbox-cont {
            display: flex;
            font-size: 1.5rem;
            padding: 4px;
            margin: 8px;
            position: relative;
            align-items: center;

            .span-temor {
                background: rgba(255, 255, 255, .5);
                padding: 8px 12px 8px 44px;
                border-radius: 1rem;
            }

            &:hover .span-temor,
            input:checked+.span-temor {
                background-color: $c-1;
            }

            .checkmark {
                height: 14px;
                width: 14px;
                left: 12px;
                top: 50%;
                margin-top: -10px;
                border-radius: 100%;

                &:after {
                    left: 4px;
                    top: 0px;
                }
            }
        }
    }

    .el-happy {
        max-width: 50vw;
        width: 100%;
        top: -50%;
        right: -35%;
        z-index: -1;
        transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    }

    .el-circ {
        max-width: 100vw;
        width: 100%;
        bottom: -55%;
        left: 0;
        right: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }

    .el-circBorde {
        max-width: 50vw;
        width: 50%;
        top: 0%;
        left: 0;
        transform: translate(-50%, -50%);
        transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    }

    &.saliendo,
    &.entrando {
        .el-circ {
            transform: scale(2);
            filter: blur(4px);
            opacity: 0;
        }

        .el-circBorde {
            transform: translateZ(-1100px);
            opacity: 0;
        }

        .el-happy {
            transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
            opacity: 0;
        }

    }
}

#p_f_2 {
    main {
        align-items: stretch;

        .cont {
            display: flex;
            align-items: stretch;
        }
    }

    .col:first-child {
        text-align: left;
        align-self: center;
        width: 30%;

        p {
            max-width: 400px;
        }

        .btn {
            font-size: 1.5rem;
            margin-top: 4rem;
            position: relative;

            &:after {
                content: '';
                width: 90px;
                height: 90px;
                position: absolute;
                bottom: 80%;
                left: 90%;
                background: url('/static/img/flecha.png') no-repeat center;
                background-size: contain;
            }
        }
    }

    .col:last-child {
        align-self: flex-end;
        width: 70%;

        img {
            display: block;
            margin: 0 auto -34px;
            max-width: 320px;
        }
    }

    .el-circBorde {
        transform: translate(-50%, -50%);
        max-width: 30vw;
    }

    .el-happy {
        width: 50%;
        bottom: 5%;
        left: 50%;
        transform: translate(-15%);
    }

    .cont-compartir {
        background: url('/static/img/graf/el-12-circulo@1x.png') no-repeat center top;
        background-size: cover;
        width: 45vw;
        height: 12.5vw;
        min-height: 150px;
        padding: 8.5% 0 4% 0;
        position: relative;
        z-index: 2;

        .btn-amarillo {
            position: relative;
        }
    }
    &.saliendo,
    &.entrando {
        
        .el-circBorde {
            transform: translateZ(-1100px);
            opacity: 0;
        }

        .el-happy {
            transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
            opacity: 0;
        }

    }
}

#p_contacto {
    .graf {
        background: $c-4multiply;
        mix-blend-mode: multiply;
    }

    .fila {
        align-items: center;
        text-align: left;
    }

    label {
        font-size: 1rem;
        font-weight: 900;
        margin-bottom: .5em;
        display: block;
    }

    .col {
        width: 50%;
    }

    .el-happy {
        width: 30%;
        top: 20%;
        left: -3%;

    }
}

.contactos{
    .modal{
        
        background: $c-claro url('/static/img/textura-fondo.jpg') repeat center;
        background-size: cover;
        width: 100vw;
        min-height: 100vh;
        max-width: inherit;
        

        .fila {
            background: #59e2c6;
            mix-blend-mode: multiply;
            overflow: auto;

            .izq{
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            .der{
           
            margin: auto;
            background: #59e2c700;

            .cerrar{
                right: 0px;
                top: 0px;
            }
            form {
                max-width: 750px;
               
            }
            
            }
        }
        
    }
}
#contact {
    text-align: left;
    label {
        text-align: left;
    }
}
.btn .tooltiptext {
    visibility: hidden;
    width: 175px;
    background-color: #f2ce30;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    justify-content: center;
    
}
  .btn:hover .tooltiptext {
    visibility: visible;
  }

  .tooltiptext a {
    width: 50px;
    height: 30px;
    
}


span.tooltiptext img {
    width: 30px;
}