body {
    
    
    min-height: 100vh;
}
#contenedor-maestro {
    background: $c-claro url('/static/img/textura-fondo.jpg') no-repeat center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}
.pantalla {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;

    &.activo {
        pointer-events: initial;
        opacity: 1;
    }

    main {
        min-height: 100vh;
        top: 0;
        display: flex;
        align-items: center;
    }

    .graf {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
        overflow: hidden;
        

        div {
            position: absolute;
            transition: all .5s ease 1s;
            
        }

    }
}
//Botones LG
.radio-lg {
    
    label{
        padding: .125rem !important;
        width: 10rem;
        height: 10rem;
        text-align: center;
        display: inline-block;
        border-radius: 100%;
        font-size: 4rem;
        line-height: 10rem;
        margin-right: 1em !important;
        box-shadow: 0 0 0 0 $c-1;
        transition: all .5s ease;
        &.ultimo {
            margin-right: 0 !important;
        }
        &:after {
            display: none;
        }
    }
    
    input:checked + label {
        box-shadow: 0 0 0 .75rem $c-1;
        color: white;
    }
    &.amarillo label {
        background: $c-1;
    }
}
//Pantallas
#p_in_1 {
    text-align:center;
    main .cont {
        margin-bottom: 200px;
    }
    h1 {
        span {
            display: none
        }
    }
    footer {
        background: white;
        padding: 20px 0;
        position: absolute;
        bottom: 0;
        width: 100%;

        .col:first-child {
            text-align: left;
        }
        .col:last-child {
            text-align: right;
        }
    }
    .el-happy {
        max-width: 50vw;
        top: -10%;
        left: 5%;
        
    }
    .el-circ{
        max-width: 35vw;
        bottom: 0;
        left: 0;
        transform: translate(-30%, 30%);
    }
    .el-circBorde{
        max-width: 25vw;
        bottom: 0;
        right: 0;
        transform: translate(50%, 30%);
    }
}
#p_in_2 {
    .cont {
        max-width: 800px;
    }
    #gen_otro ~ input {
        display: none;
        margin: .25rem auto 0;
        max-width: 400px; 
    }
    #gen_otro:checked ~ input {
        display: block;
    }
    .el-happy {
        max-width: 70vw;
        width: 90%;
        top: -25%;
        left: -10%;
        z-index: 2;
        
    }
    .el-circ{
        max-width: 100vw;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 60%);
    }
    .el-circBorde{
        max-width: 25vw;
        bottom: 0;
        right: 0;
        transform: translate(50%, 30%);
    }
}
#p_in_4 {
    .form-grupo {
        margin: 20vh 0 5vh;
    }
    #pcreativa_no ~ input {
        display: none;
        margin: 1.5rem auto 0;
        max-width: 480px; 
    }
    #pcreativa_no:checked ~ input {
        display: block;
    }
    .el-happy {
        max-width: 70vw;
        width: 70%;
        top: 55%;
        left: 25%;
        z-index: 2;
        
    }
    .el-circ{
        max-width: 100vw;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 60%);
    }
    .el-circBorde{
        max-width: 50vw;
        width: 50%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -30%);
    }
}